body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

div {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    border-width: 10px;
}

fieldset {
    margin: 10px 0;
    padding: 10px;
    border: 10px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:rgb(136, 117, 117);
    color:black;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color:red;
}

.checkout{
    text-align: center;
}
